@font-face {
  font-family: "Dancing Peoples";
  src: url("https://cdn.jsdelivr.net/gh/hada0127/hada-type@v2026.09.01/fonts/dancing-peoples/woff2/DancingPeoples%5BDance%5D.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
