@font-face {
  font-family: "Hada Batang";
  src: url("https://cdn.jsdelivr.net/gh/hada0127/hada-type@v2026.09.04/fonts/hada-batang/woff2/HadaBatang%5BWeight%5D.woff2") format("woff2");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
